

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('USCarParking.webp') no-repeat center center fixed;
    background-size: cover;
    color: white;
}


header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}


.registration-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.registration-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.8em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
}

.form-group input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}


#saveButton {
    width: 100%;
    padding: 12px;
    background-color: #0b60c7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 10px;
}

#saveButton:hover {
    background-color: #2478c1;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(31, 31, 31, 0.8);
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: rgba(46, 130, 226, 0.9);
}

tbody tr:hover {
    background-color: rgba(27, 123, 225, 0.3);
}

